/*//[ FONT ]////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb(NoEn).eot');
    src: url('../fonts/IRANSansWeb(NoEn).eot?#iefix') format('embedded-opentype'),
        url('../fonts/IRANSansWeb(NoEn).woff2') format('woff2'),
        url('../fonts/IRANSansWeb(NoEn).woff') format('woff'),
        url('../fonts/IRANSansWeb(NoEn).ttf') format('truetype');
}
@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSansWeb(NoEn)_Bold.eot');
    src: url('../fonts/IRANSansWeb(NoEn)_Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IRANSansWeb(NoEn)_Bold.woff2') format('woff2'),
        url('../fonts/IRANSansWeb(NoEn)_Bold.woff') format('woff'),
        url('../fonts/IRANSansWeb(NoEn)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IRANSansWeb(NoEn)_Light.eot');
    src: url('../fonts/IRANSansWeb(NoEn)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
        url('../fonts/IRANSansWeb(NoEn)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSansWeb(NoEn)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSansWeb(NoEn)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb(FaNum).eot');
    src: url('../fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
        url('../fonts/IRANSansWeb(FaNum).woff2') format('woff2'),
        url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),
        url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
        url('../fonts/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
        url('../fonts/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: lighter;
    src: url('../fonts/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
        url('../fonts/IRANSansWeb(FaNum)_Light.woff') format('woff'),
        url('../fonts/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
/*---------------------------- Fonts End --------------------------*/


/*//[ RESTYLE TAG ]///////////////////////////////////////////////////////////////*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
	direction:rtl;
}
body, html {
	height: 100%;
	font-family: IRANYekan, sans-serif;
}
/*---------------------------------------------*/
a {
	font-family: IRANYekan, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
  color: #a64bf4;
}
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}
p {
	font-family: IRANYekan, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}
ul, li {
	margin: 0px;
	list-style-type: none;
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}
textarea {
  outline: none;
  border: none;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}
iframe {
	border: none !important;
}
/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
	font-family: IRANYekan, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #666666;
}
.txt2 {
	font-family: IRANYekan, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
	text-transform: uppercase;
}

.bg1 {background-color: #3b5998}
.bg2 {background-color: #1da1f2}
.bg3 {background-color: #ea4335}
/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
	width: 100%;
	margin: 0 auto;
}
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrap-login100 {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/*------------------------------------------------------------------
[ Form ]*/
.login100-form {
  width: 100%;
}
.login100-form-title {
	display: block;
	font-family: IRANYekan, sans-serif;
	font-size: 25px;
	font-weight:500; 
	color: #333333;
	line-height: 1.2;
	text-align: center;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}
.label-input100 {
    font-family: IRANYekan, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    line-height: 1.5;
    padding-right: 15px;

}
.input100 {
	font-family: IRANYekan, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 43px 0 7px;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.focus-input100::after {
  content: attr(data-symbol);
  font-family: Material-Design-Iconic-Font;
  color: #adadad;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  right: 0;
  padding-left: 13px;
  padding-top: 3px;
}
.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7f7f7f;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.input100:focus + .focus-input100::before {
  width: 100%;
}
.has-val.input100 + .focus-input100::before {
  width: 100%;
}
.input100:focus + .focus-input100::after {
  color: #a64bf4;
}

.has-val.input100 + .focus-input100::after {
  color: #a64bf4;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}
.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
background: #ffae17; /* Old browsers */
background: -moz-linear-gradient(top, #ffae17 0%, #ff8c15 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffae17 0%,#ff8c15 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffae17 0%,#ff8c15 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae17', endColorstr='#ff8c15',GradientType=0 ); /* IE6-9 */
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login100-form-btn {
	font-family: IRANYekan, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}
.pardakhtbtn{
	background:#28a745;
}
.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}
.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

	font-family: IRANYekan, sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Social item ]*/
.login100-social-item {
  font-size: 25px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}
.cptcha-img{
	text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #cacaca;
}
/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
} 

.alert{
	font-size: 25px;
}
.about-khalafi{
	background:#fff;
	width:80%;
	border-radius:10px;
	margin-bottom:10px;
	padding:15px;
}
.about-khalafi p{
	color:#333;
	font-size:18px;
}
.wrap-login100{
	width:80%;
}
.img-box{
	margin:auto;
}
.img-right{
	width:45%;
	float:right;
	margin:20px;	
}
.img-left{
	width:40%;
	float:left;
	margin:20px;
}



.footer{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    padding: 2px;
}
th{
	text-align:center;
}

.amount_block{
	text-align:center;
	margin-top:50px;
}

.plaqq{
	font-family:IRANYekan;
	margin-top:40px;
	margin-right:auto;
	margin-left:auto;
	background-image:url(../images/est-pelak.png);
	width:278px;
	height:52px;
	padding:7px;
	font-size:25px;
	font-weight:500;
}
.plaqq-1{
	float:right;
	margin-right:10px;
	padding-top:8px;	
}
.plaqq-2{
    float: left;
    margin-left: 70px;
    letter-spacing: 3px;
    padding-top: 2px;
}
#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
	width:40%;
  position: absolute;
  top:100px;
  left: 30%;
  right:30%;
  z-index: 100;
}

.p-r-55{
	padding-right:10px;
	padding-left:10px;
}
.hesam{
	padding-bottom:100px;
}
table.hesamTable {
	margin:auto;
  border: 4px solid silver;
  background-color: #D1ECF1;
  width: 80%;
  text-align: center;
  border-collapse: collapse;
}
table.hesamTable td, table.hesamTable th {
  border: 1px solid #DCF1D1;
  padding: 4px 0px;
}
table.hesamTable tbody td {
  font-size: 15px;
  font-weight: bold;
  color: #0C5460;
}
table.hesamTable tr:nth-child(even) {
  background: #D1DCF1;
}
table.hesamTable thead {
	font-size:18px;
	font-weight:500;
  background: #F1D1DC;
  border-bottom: 4px solid silver;
}
table.hesamTable thead th {
  font-size: 16px;
  font-weight: bold;
  color: #0C5460;
  text-align: center;
}
table.hesamTable tfoot td {
  font-size: 14px;
}



@media (max-width: 767px) {
	.about-khalafi{
		width:100%;
	}
	.wrap-login100{
		width:100%;
	}
	.img-right{
		width:80%;
		display: block;
		margin-left: 10%;
		margin-right: 10%;
	}
	.img-left{
		width:80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.img-box{
		text-align:center;
	}
	#loading-image {
	width:100%;
	top:200px;
	left: 0;
	right:0;

	}
	table.hesamTable {
		width:100%;
	}
}